import { StyleSheet } from "@react-pdf/renderer";

export const styles = StyleSheet.create({
  page: {
    background-color: "white",
    padding: 20,
    font-family:"Helvetica",
    font-size: 12,
    color :"30px 50px",

  },
 
  section: {
    margin: 10,
    padding: 10,
    flexGrow: 1,
  },
});